.neon {
  color: #fff;
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #4aff74, 0 0 30px #00ff4c, 0 0 40px #00ff4c, 0 0 55px #00ff4c, 0 0 75px #00ff4c;
}
body {
    background-color: #100f2b;
}